*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.navbar{
  width:100%;
  padding:15px 25px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:white;
  box-shadow:0 0 10px rgba(0,0,0,0.2);
  position:relative;
}

.company-name{
  font-size:28px;
  font-weight:bold;
  background:#f7881a;
  color:white;
  padding:8px 15px;
  border-radius:6px;
}

.right-section{
  display:flex;
  align-items:center;
  gap:20px;
}

.phone-number{
  font-size:18px;
}

.contact-btn{
  padding:10px 18px;
  border:none;
  background:red;
  color:white;
  border-radius:5px;
  cursor:pointer;
}

.burger{
  display:none;
  font-size:24px;
  cursor:pointer;
}

/* Mobile */

@media(max-width:768px){

  .company-name{
  font-size:18px;
  font-weight:semi-bold;
  background:#f7881a;
  color:white;
  padding:4px 8px;
  border-radius:6px;
}

  .burger{
    display:block;
  }

  .right-section{
    display:none;

    position:absolute;
    top:75px;
    right:20px;

    flex-direction:column;
    align-items:flex-start;
    gap:15px;

    background:white;
    padding:20px;
    width:220px;

    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
  }

  .right-section.show{
    display:flex;
  }

}